<div class="max-w-screen-lg mx-auto mb-20">
  <div class="px-4 md:p-0 grid grid-cols-1 md:grid-cols-2 gap-4">
    
    <div class="align-middle inline-block min-w-full overflow-hidden sm:rounded rounded ">
      <table class="min-w-full bg-white bg-white border border-gray-400 bg-gray-100 rounded">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-6 py-3 border-b border-gray-400 text-left text-xs font-medium text-gray-600 uppercase tracking-wider">Assignment</th>
            <th class="px-6 py-3 border-b border-gray-400 text-center text-xs font-medium text-gray-600 uppercase tracking-wider">Points</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @course.assignments.each do |assignment| %>
            <tr>
              <td class="px-4 py-2 text-sm whitespace-no-wrap border-b border-gray-200"><%= assignment.name %></td>
              <td class="px-4 py-2 text-sm text-center whitespace-no-wrap border-b border-gray-200"><%= assignment.points %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot data-controller="assignment" data-assignment-course="<%= @course.id %>" class="bg-gray-100">
          <tr class="text-sm">
            <td class="py-3 px-2">
              <input type="text" class="w-full h-full p-2 mt-1 mb-0 border border-gray-400 rounded-sm" data-target="assignment.name">
            <td class="py-3 px-2">
              <input type="number" class="w-full h-full p-2 mt-1 mb-0 border border-gray-400 rounded-sm" data-target="assignment.points">
            </td>
          </tr>
          <tr>
            <td colspan="2" class="pb-3 px-2">
              <button class="inline-flex items-center justify-center px-3 py-2 w-full rounded-sm border border-transparent text-sm leading-6 font-medium text-white focus:outline-none focus:shadow-outline transition duration-150 ease-in-out bg-green-600 hover:bg-green-500 cursor-pointer"
                      data-action="click->assignment#create">
                Add Assignment
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div class="align-middle inline-block min-w-full overflow-hidden sm:rounded border border-gray-400 bg-gray-100">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-6 py-3 border-b border-gray-400 text-left text-xs font-medium text-gray-600 uppercase tracking-wider">Student</th>
            <th class="px-6 py-3 border-b border-gray-400 text-center text-xs font-medium text-gray-600 uppercase tracking-wider">Grade</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @course.students.each do |student| %>
            <tr>
              <td class="flex items-center px-4 py-2 text-sm whitespace-no-wrap border-b border-gray-200">
                <%= image_tag student.avatar, class: "h-8 w-8 mr-3 rounded-full border" %>
                <%= student.full_name %>
              </td>
              <td class="px-4 py-2 text-sm text-center whitespace-no-wrap border-b border-gray-200"><%= student_course_percentage_grade(student,@course) %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="bg-gray-100">
            <td class="px-4 py-2 text-sm text-center whitespace-no-wrap border-b border-gray-200 font-bold">Total: <%= @course.students.count %></td>
            <td class="px-4 py-2 text-sm text-center whitespace-no-wrap border-b border-gray-200 font-bold">Average: <%= course_average_percentage_grade(@course) %></td>
          </tr>
        </tfoot>
      </table>
    </div>
    
  </div>
</div>