<nav class="bg-gray-800" data-controller="navbar">
  <div class="max-w-screen-lg mx-auto px-2 sm:px-6 lg:px-0">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button data-action="click->navbar#menu" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white transition duration-150 ease-in-out" aria-label="Main menu" aria-expanded="false">
          <svg data-target="navbar.icon1" class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg data-target="navbar.icon2" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 items-center">
          <div class="flex items-center h-full">
            <%= link_to 'Gradebook', root_path, class: 'text-lg text-white font-semibold' %>
          </div>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex">
            <% if student_signed_in? || teacher_signed_in? %>
              <%= link_to 'Dashboard', student_signed_in? ? student_dashboard_path : teacher_dashboard_path, class: "px-4 py-2 rounded-full text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700" %>
            <% end %>
            <%= link_to 'Course Catalog', courses_path, class: "px-4 py-2 rounded-full text-sm font-medium leading-5 text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
          </div>
        </div>
      </div>
      
      <div class="hidden sm:flex">
        <% if student_signed_in? || teacher_signed_in? %>
          <%= link_to('Sign Out', student_signed_in? ? destroy_student_session_path : destroy_teacher_session_path, method: :delete, class: "block px-4 py-2 rounded-full text-sm font-medium text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700") %>              
        <% else %>        
          <%= link_to 'Student', new_student_session_path, class: "mt-1 block px-4 py-2 rounded-full text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
          <%= link_to 'Teacher', new_teacher_session_path, class: "mt-1 block px-4 py-2 rounded-full text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700" %>
        <% end %>
      </div>
      
    </div>
  </div>

  <div data-target="navbar.menu" class="hidden sm:hidden">
    <div class="px-2 pt-2 pb-3">
      <% if student_signed_in? || teacher_signed_in? %>
        <%= link_to 'Dashboard', student_signed_in? ? student_dashboard_path : teacher_dashboard_path, class: "block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out #{controller_name == 'dashboard' ? 'bg-gray-900':''}" %>
        <%= link_to 'Course Catalog', courses_path, class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out #{controller_name == 'courses' ? 'bg-gray-900':''}" %>
        <%= link_to('Sign Out', student_signed_in? ? destroy_student_session_path : destroy_teacher_session_path, method: :delete, class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out") %>              
      <% else %>        
        <%= link_to 'Course Catalog', courses_path, class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out #{controller_name == 'courses' ? 'bg-gray-900':''}" %>
        <%= link_to 'Student', new_student_session_path, class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>
        <%= link_to 'Teacher', new_teacher_session_path, class: "mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-300 hover:text-white hover:bg-gray-700 focus:outline-none focus:text-white focus:bg-gray-700 transition duration-150 ease-in-out" %>
      <% end %>
    </div>
  </div>
</nav>
